
<mat-tab-group>
	<mat-tab label="Animation">
	    <div class="tab-content">
	    <mat-checkbox [checked]="_profile.animation.animateYN" 
	    			  (change)="profile.animation.animateYN = $event.checked">Animate Cards</mat-checkbox><br>
	    <div class="indent">
		    <mat-checkbox [disabled]="profile.animation.animateYN?'false':'true'"
			    [checked]="_profile.animation.animate.recycleYN" 
			    (change)="profile.animation.animate.recycleYN = $event.checked">Recycle</mat-checkbox>&nbsp;
			    <mat-slider	    	
			        [disabled]="disableSlider('recycle')"
			        [max]="1"
			        [min]="0"
			        [step]=".1"
			        [thumbLabel]="true"
			        [tickInterval]="'auto'"
			        [(ngModel)]="profile.animation.animate.recycle">
			    </mat-slider><br>
		    <mat-checkbox [disabled]="profile.animation.animateYN?'false':'true'" 
			    [checked]="_profile.animation.animate.dealerYN" 
			    (change)="profile.animation.animate.dealerYN = $event.checked">Dealer</mat-checkbox>&nbsp;
			    <mat-slider
			        [disabled]="disableSlider('dealer')"  
			        [max]="1"
			        [min]="0"
			        [step]=".1"
			        [thumbLabel]="true"
			        [tickInterval]="'auto'"
			        [(ngModel)]="profile.animation.animate.dealer">
			    </mat-slider><br>
		    <mat-checkbox [disabled]="profile.animation.animateYN?'false':'true'" 
			    [checked]="_profile.animation.animate.playerYN" 
			    (change)="profile.animation.animate.playerYN = $event.checked">Player</mat-checkbox>&nbsp;
			    <mat-slider
			        [disabled]="disableSlider('player')"  
			        [max]="1"
			        [min]="0"
			        [step]=".1"
			        [thumbLabel]="true"
			        [tickInterval]="'auto'"
			        [(ngModel)]="profile.animation.animate.player">
			    </mat-slider><br>
		    <mat-checkbox [disabled]="profile.animation.animateYN?'false':'true'" 
			    [checked]="_profile.animation.animate.opponentYN" 
			    (change)="profile.animation.animate.opponentYN = $event.checked">Opponent</mat-checkbox>&nbsp;
			    <mat-slider
			        [disabled]="disableSlider('opponent')"  
			        [max]="1"
			        [min]="0"
			        [step]=".1"
			        [thumbLabel]="true"
			        [tickInterval]="'auto'"
			        [(ngModel)]="profile.animation.animate.opponent">
			    </mat-slider>
			</div>
	    </div>
	</mat-tab>
  	<mat-tab label="Statistics">
		<div class="tab-content">
        	<mat-checkbox [checked]="_profile.showStatistics" (change)="profile.showStatistics = $event.checked">Show Statistics</mat-checkbox>
        </div>
    </mat-tab>
</mat-tab-group>

<p>
<button  class="mat-raised-button mat-primary" (click)="closeDialog(true)">Save</button>
&nbsp;
<button  class="mat-raised-button" (click)="closeDialog(false)">Cancel</button>