<p>move-rpt works!</p>

<!-- 
<div *ngIf="stats$ | async as stats; else loadingStats">
	<table>
		<tr><th>&nbsp;</th><th>Player 1</th><th>Player 2</th></tr>
		<tr><th>Turns</th><td>{{stats.turns[0]}}</td><td>{{stats.turns[1]}}</td></tr>
		<tr><th>Moves</th><td>{{stats.moves[0]}}</td><td>{{stats.moves[1]}}</td></tr>
		<tr><th>Jokers</th><td>{{stats.jokers[0]}}</td><td>{{stats.jokers[1]}}</td></tr>
	</table>
	<p>
</div>
<ng-template #loadingStats>
	... loading Stats
</ng-template>
 -->
<div #canvas id="canvas"></div>