<ng-container *ngIf="cards.length==0">
	<div class="pile-item" >
		<card [pos]="pos" [cardNo]="0" [options]="options" (onSelect)="select($event)"></card>
	</div>
</ng-container>
<ng-container *ngIf="options.showCardFace && cards.length>0">	
	<div class="pile-item" >
		<card [options]="options" 
			  [pos]="pos" 
			  [cardNo]="cards[cards.length-1].cardNo" 
			  (onSelect)="select($event)">
		</card>
	</div>
</ng-container>
<ng-container *ngIf="!options.showCardFace && cards.length>0">
	<div class="pile-item" >
		<card [pos]="pos" [cardNo]="-1" [options]="options" (onSelect)="select($event)"></card>
	</div>
</ng-container>