
<div class="play-area" *ngIf="game">
 	
	<card *ngIf="m.card>-1" 
		[cardNo]="m.card" 
		class="animation" 
		[@animateCard]="{value:animTrigger,
						 params:{fTop:fromRect.top,fLeft:fromRect.left,
								 tTop:toRect.top,tLeft:toRect.left,
								 duration:animationDuration(m)}}"
		(@animateCard.done)="animDone($event)">
	</card>
	
	<div id="game-over" *ngIf="message.length>0"  style="white-space: pre-line;">
		<h2>{{message}}</h2>
		<div *ngIf="message.indexOf('draw') >= 0">
			<img src="./assets/theend.webp"  height="350" width="500">
		</div>
		<div *ngIf="message.indexOf('draw') < 0">
			<table *ngIf="players$ | async as players">
				<tr><th colspan=2>{{players[0].name}}</th><th colspan=2>{{players[1].name}}</th></tr>
				<tr><th>Turns</th><th>Moves</th><th>Turns</th><th>Moves</th></tr>
				<tr>
					<td>{{game.stats.players[0].turns}}</td>
					<td>{{game.stats.players[0].moves}}</td>
					<td>{{game.stats.players[1].turns}}</td>
					<td>{{game.stats.players[1].moves}}</td>
				</tr>
			</table>
			<img src="./assets/fireworks.webp"  height="350" width="500">
		</div>
		<p><div class="link" (click)="playAgain()">Play Again</div>
	</div>
	<div *ngIf="message.length==0">	
 	
		<div *ngIf="players$ | async as players; else loading">
			<table *ngIf="profile.showStatistics && players.length>0">
				<tr><th colspan=2>{{players[0].name}}</th><th colspan=2>{{players[1].name}}</th></tr>
				<tr><th>Turns</th><th>Moves</th><th>Turns</th><th>Moves</th></tr>
				<tr>
					<td>{{game.stats.players[0].turns}}</td>
					<td>{{game.stats.players[0].moves}}</td>
					<td>{{game.stats.players[1].turns}}</td>
					<td>{{game.stats.players[1].moves}}</td>
				</tr>
			</table>
		</div>
		<ng-template #loading>Loading statistics</ng-template>
		<div *ngIf="players$ | async as players; else loadingHand">
			<div 
				 *ngFor="let player of players; let pIdx=index">
				 {{player.name}}<br>
				<div class="player">
					<div class="container">
						<div  class="heading" [ngClass]="{'active':game.activePlayer==pIdx,
							     'inactive':game.activePlayer!=pIdx}">Pile</div>
						<div class="player-pile tooltip" >
						    <span class="tooltiptext">{{game.getCards(pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)).length}}</span>
							<app-pile 
								id="pos{{pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)}}"
								[pos]="pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx)"
								[cards]="game.getCards(pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx))"
								[options]="getOptions(pE.PLAYER_PILE+(pPE.PLAYER_2*pIdx))"
								(onSelect)="select($event)">
							</app-pile>
						</div>
					</div>
					<div class="container">
						<div  class="heading" [ngClass]="{'active':game.activePlayer==pIdx,
							     'inactive':game.activePlayer!=pIdx}">Hand</div>
						<div class="player-hand">
							<ng-container *ngIf="isActivePlayer(pIdx); else InActivePlayer">
								<app-pile *ngFor="let i of [0,1,2,3,4]"	
									id="pos{{pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)}}"
									[pos]="pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)"
									[cards]="game.getCards(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx))"
									[options]="getOptions(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx))"
									(onSelect)="select($event)">
								</app-pile>
							</ng-container>
							<ng-template #InActivePlayer>
								<app-pile *ngFor="let i of [0,1,2,3,4]"	
									id="pos{{pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)}}"
									[pos]="pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)"			
									[cards]="game.getCards(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx)).length>0?
												[{cardNo:cE.BACK,position:i+30}]:[]"
									[options]="getOptions(pE.PLAYER_HAND_1+i+(pPE.PLAYER_2*pIdx))"
									(onSelect)="select($event)">
								</app-pile>
							</ng-template>
						</div>
					</div>			
					<div class="container">
						<div class="heading"  [ngClass]="{'active':game.activePlayer==pIdx,
							     'inactive':game.activePlayer!=pIdx}">Stacks</div>	
						<div class="player-stacks">
							<app-player-stack *ngFor="let i of [0,1,2,3]"
								[pos]="pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx)" 
								[cards]="game.getCards(pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx))" 
								[options]="getOptions(pE.PLAYER_STACK_1+i+(pPE.PLAYER_2*pIdx))"
								(onSelect)="select($event)">
							</app-player-stack>
						</div>
					</div>
				</div>
			</div>
			<div class="game-row">
				<div class="game-deck tooltip" >
					<span class="tooltiptext">{{game.getCards(pE.DECK).length}}</span>
					<app-pile 			
						id="pos{{pE.DECK}}"	
						[pos]="pE.DECK"
						[cards]="game.getCards(pE.DECK)"
						[options]="getOptions(pE.DECK)">
					</app-pile>
				</div>		
				<div class="game-recycle tooltip" >
					<span *ngIf="game.getCards(pE.RECYCLE).length>0" 
						class="tooltiptext">{{game.getCards(pE.RECYCLE).length}}</span>
					<app-pile 				
						id="pos{{pE.RECYCLE}}"			
						[pos]="pE.RECYCLE"
						[cards]="game.getCards(pE.RECYCLE)"
						[options]="getOptions(pE.RECYCLE)">
					</app-pile>			 
				</div>
				<div class="game-stacks">
					<app-game-pile *ngFor="let i of [0,1,2,3]"
						id="pos{{pE.STACK_1+i}}"			
						[pos]="pE.STACK_1+i"
						[cards]="game.getCards(pE.STACK_1+i)"
						[options]="getOptions(pE.STACK_1+i)"
						(onSelect)="select($event)">
					</app-game-pile>
				</div>		
			</div>
		</div>
		<ng-template #loadingHand>Loading players hands...</ng-template>
	</div>
</div>