
.animation{
	position:absolute;
}
#game-explorer{
	width: 50%;
	border: 1px solid black;
	position:absolute;
	top:48px;
	right:0;
}
.player{
	display:inline-flex;
	padding-bottom:15px;
	padding-right:30px;
}
.container{
	display:flex;
	flex-flow:column;
	border:solid black 1px;
}
.heading{
	color:white;
	width:100%;
	border:solid black 1px;
}
.heading.active{
	background:#44d60b;
}
.heading.inactive{
	background:#a31217;
}
.player-pile{
  	border-right:solid grey 5px;
}
.player-hand{
	display:flex;
  	flex-flow: row ;
  	border-right:solid grey 5px;
}
.player-stacks {
	display:flex;
  	flex-flow: row ;
  	max-width:290px;
}
.game-row{
	display:flex;
	flex-flow:row;
}
.game-stacks{
	display:flex;
	flex-flow:row;
	padding-left:25px;
}
/* Tooltip container */
.tooltip {
  float: left;
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  opacity:0.6;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 

/* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#game-over{
	text-align: center;
}
#game-over img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}