<div>
    Game: {{game.uuid}}<br>
    Cards In Play: {{totalCardsInPlay()}} <br>
    1[{{countCards(1)}}], 2[{{countCards(2)}}], 3[{{countCards(3)}}], 4[{{countCards(4)}}], 5[{{countCards(5)}}], 6[{{countCards(6)}}], 7[{{countCards(7)}}]<br>
    8[{{countCards(8)}}], 9[{{countCards(9)}}], 10[{{countCards(10)}}], 11[{{countCards(11)}}], 12[{{countCards(12)}}], 13[{{countCards(13)}}], 53[{{countCards(53)}}]

    <p></p>
    Player 1:
    <ul>
        <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">{{PE[i]}} {{game.cards[i].length}} {{cardsAsList(game.cards[i])}}</li>
    </ul>
    Player 2:
    <ul>
        <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">{{PE[i]}} {{game.cards[i+10].length}} {{cardsAsList(game.cards[i+10])}}</li>
    </ul>
    Game:
    <ul>
        <li *ngFor="let i of [20,21,22,23,24,25]">{{PE[i]}} {{game.cards[i].length}} {{cardsAsList(game.cards[i])}}</li>
    </ul>
</div>
